body {
    font-family: 'Fira Sans'

}
.header {
  
    height: 100vh;
    background-image: url(https://pictures.s3.yandex.net/background.jpg);
    background-size: cover;
    background-position: center bottom;
    background-color: #4682B4;
    color: white;

    text-align: center;
}
.card {
    height: 420px;
    width: 420px;
}

h1 {
    font-size: 55px;
    line-height: 240px;
    font-family: 'Anonymous Pro';
    text-transform: uppercase;
}

h2 {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.5px
}